.holo-effect {
    background: linear-gradient(45deg, #ff00cc, #3333ff, #00ccff, #ffcc00, #ff00cc);
    background-size: 900% 900%;
    animation: holo-animation 10s ease infinite;
    border-radius: 5px;
  }

  @keyframes holo-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.item-inner-holo-effect {
  border-radius: 5px;
  background-color: rgb(40, 44, 52, 1);
}